<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Changa_Now</title>
    <meta charset="preload" href="../assets/Css/styles.css">
    <link rel="stylesheet" href="../assets/Css/styles.css">
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
    <script src="../assets/Js/jquery.js"></script>
    <script src="../assets/Js/jquery.dataTables.min.js"></script>

</head>

<body>
<!-- Navegación principal -->
<header>
    <div class="nav-bg"> 
        
        <div class="logo">
            <a href="#"><img src="../assets/Img/logo2.png"  alt="logotipo"></a> 
        </div> 
        
        <!--Navegación principal-->
        <nav class="navegacion-principal contenedor"> 
            <!-- <i class="fas fa-search" id="icon-search"></i>  -->
            <input type="search" id="int-search" placeholder="Buscar" > 
                
            <div class="content-search">
                <div class="content-table">
                    <table id="table">
                        <thead>
                            <tr>
                                <td></td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td><a href="#">Inicio</a></td>
                            </tr>

                            <tr>
                                <td><a href="#">ajedrez</a></td>
                            </tr>

                            <tr>
                                <td><a href="#">sql</a></td>
                            </tr>

                            <tr>
                                <td><a href="#">css</a></td>
                            </tr>

                            <tr>
                                <td><a href="#">html</a></td>
                            </tr>

                            <tr>
                                <td><a href="#">php</a></td>
                            </tr>

                            <tr>
                                <td><a href="#">python</a></td>
                            </tr>

                            <tr>
                                <td><a href="#">juegos</a></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        
            <ul class="">
                <a href="#"><span class="fas fa-home"><p>Inicio</p></span></a>
                <a href="#"><span class="fas fa-user-friends"><p>Mi red</p></span></a>
                <a href="#"><span class="fas fa-briefcase"><p>Empleos</p></span></a>
                <a href="#"><span class="fas fa-comment-dots"><p>Mensajes</p></span></a>
                <a href="#"><span class="fas fa-bell"><p>Notificaciones</p></span></a>
                
                 <!--Enlace Dropdow-->
                <!-- <div class="dropdown-container">  -->
                   <span><a>Yo</a></span>
                    <!-- <ul class="dropdown-menu"> -->

                    <!-- </ul> -->
                 <a href="#"><span class="fas fa-th"><p>Productos</p></span></a>
                <!--</div> Fin Dropdow-->

            </ul>
            <!-- busqueda 2 -->

        </nav> <!--Fin navegación-->
        
    </div>
    
</header>


    
<main>
   
    <!-- <div class="cuadrado-1 "> -->
</main>  

    <script src="../assets/Js/search.js"></script>
</body>
</html>