*{
	margin: 0;
	padding: 0;
}

body{
	background: #F3F2EF;
	font-family: 'Open Sans', sans-serif;

}

a {
	text-decoration: none;
}

main{
	margin-left: 8%;
}
.barra{
	height: 60px;
	width: 100%;
	border: 0px solid black;
	border-bottom: 1px solid #ddd;
	background: white;
}

.select-box{
	height: 60px;
	width: 99.25%;
	border: 0px solid black;
	background: white;
	border-bottom: 1px solid #ddd;
	padding: 5px;
}

/**Select-box**/
.contenedor {
	display: flex;
	width: 90%;
	max-width: 1000px;
	margin-left: 10%;
	margin-top: 10px;
}

.selectbox {
	width: 80%;
	margin: auto;
	position: relative;
	margin-left: 50px;
}

.selectbox-2 {
	width: 80%;
	margin: auto;
	margin-left: 50px;
	position: relative;
}

.selectbox-3 {
	width: 80%;
	margin: auto;
	margin-left: 50px;
	position: relative;
}

.select {
	background: #fff;
	width: 100%;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, .16);
	border-radius: 25px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: .2s ease all;
	margin-bottom: 30px;
	padding: 5px;
	position: relative;
	z-index: 200;
	border: 1px solid #ddd;
}

.select.active,
.select:hover {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
	border: 2px solid #213f8f;
}

.select.active:before {
	content: "";
	display: block;
	height: 0;
	width: 0;
	border-top: 15px solid #213f8f;
	border-right: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid transparent;
	position: absolute;
	bottom: -30px;
	left: calc(50% - 15px);
}

.select i {
	font-size: 25px;
	margin-left: 15px;
	color: #213f8f;
}

.titulo {
	margin-bottom: 5px;
	color: #000;
	font-weight: 600;
	font-size: 15px;
}

.descripcion {
	font-size: 15px;
	color: #434343;
}

.opciones {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,.16);
	max-height: 400px;
	overflow: auto;
	z-index: 100;
	width: 100%;
	display: none;
}

.opciones.active {
	display: block;
	animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
	from {
		transform: translateY(-200px) scale(.5);
	}
	to {
		transform: translateY(0) scale(1);
	}
}

.contenido-opcion {
	width: auto;
	display: flex;
	align-items: center;
	transition: .2s ease all;
}

.opciones .contenido-opcion {
	padding: 30px;
}

.contenido-opcion img {
	width: 60px;
	height: 60px;
	margin-right: 30px;
}

.opciones .contenido-opcion:hover {
	background: #213F8F;
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion:hover .descripcion {
	color: #fff;
}

@media screen and (max-width: 800px){
	.selectbox {
		width: 100%;
	}
}
/**************/
.resultados{
	display: flex;
	border: 1px solid #ddd;
	width: 100%;
	height: 50px;
	background: white;
	padding: 10px;
}

.contenedor-label{
	display: grid;
	grid-column: auto;
}

.label-1{

}

.label-2{
	color: #aaa;
	font-size: 15px;
}

.icon{
	margin-top: 12px;
	font-size: 25px;
	color: royalblue;
	margin-left: 300px;
}

.contenedor-abuelo-abuelo{
	display: flex;
}

.contenedor-abuelo{

}

.contenedor-padre{
	display: flex;
	height: auto;
	width: 100%;
}

.contenedor-trabajos-padre{
	overflow-y: scroll;
	max-height: 428px;
	width: 100%;
	height: 100%;
}

.contenedor-trabajos{
	display: flex;
	width: 95.5%;
	height: 140px;
	border: 1px solid #ddd;
	background: white;
	padding: 10px;
}

.contenedor-img{
	width: 23%;
}

.imagen{
	width: 100%;
	height: 55%;
}

.contenedor-contenido{
	display: flex;
	flex-direction: column;
}

.label-3{
	margin-left: 10px;
	color: royalblue;
}

.label-4{
	margin-left: 10px;
	color: #aaa;
	font-size: 15px;
}

.icono{
	margin-left: 10px;
	color: #aaa;
}

.icono-2{
	margin-left: 0px;
	color: #aaa;
}

.contenedor-requisitos-padre{
	display: grid;
	grid-template-columns: auto auto;
	margin-top: 10px;
}
.label-5{
	font-size: 15px;
	color: black;
	margin-left: 10px;
}

.contenedor-div-derecho-padre{
	width: 50%;
	height: auto;
}
.contenedor-div-derecho{
	overflow-y: scroll;
	max-height: 60.2%;
	display: flex;
	flex-direction: column;
	border: solid 1px #ddd;
	width: 100%;
	height: 100%;
	background: white;
	padding: 20px;
}

.label-6{
	font-size: 23px;
}

.label-7{
	margin-top: 15px;
	color: lightblack;
}

.label-8{
	margin-top: 10px;
	font-size: 15px;
	color: #aaa;
}

.solicitudes{
	display: flex;
}

.label-solicitudes{
	margin-top: 5px;
	margin-left: 160px;
	color: green;
	font-size: 15px;
}

.label-9{
	font-size: 18px;
	margin-top: 15px;
	color: green;
}

.label-10{
	font-size: 15px;
	margin-top: 10px;
}

.contenedor-button{
	display: flex;
}

.button{
	border: none;
    width: 30%;
    color: white;
    font-size: 15px;
    background: royalblue;
    padding: 15px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
    margin-top: 17px;
    margin-left: 0%;
}

.button.second{
	border: none;
    width: 30%;
    color: white;
    font-size: 17px;
    background: #BFC1C9;
    padding: 15px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
    margin-top: 15px;
    margin-left: 14px;
}

.button input:hover{
	background-color: black;
    transition: all 0.2s ease-out;
}
