*{
	margin: 0;
	padding: 0;
}

body{
	background: #F3F2EF;
	font-family: 'Open Sans', sans-serif;

}

a {
	text-decoration: none;
}

main{
	margin-left: 8%;
}
.barra{
	height: 60px;
	width: 100%;
	border: 0px solid black;
	border-bottom: 1px solid #ddd;
	background: white;
}

.select-box{
	height: 60px;
	width: 100%;
	border: 0px solid black;
	background: white;
	border-bottom: 1px solid #ddd;
}

.resultados{
	display: flex;
	border: 1px solid #ddd;
	width: 100%;
	height: 50px;
	background: white;
	padding: 10px;
}

.contenedor-label{
	display: grid;
	grid-column: auto;
}

.label-1{

}

.label-2{
	color: #aaa;
	font-size: 15px;
}

.icon{
	margin-top: 12px;
	font-size: 25px;
	color: royalblue;
	margin-left: 300px;
}

.contenedor-abuelo-abuelo{
	display: flex;
}

.contenedor-abuelo{

}

.contenedor-padre{
	display: flex;
	height: auto;
	width: 100%;
}

.contenedor-trabajos-padre{
	overflow-y: scroll;
	max-height: 428px;
	width: 100%;
	height: 100%;
}

.contenedor-trabajos{
	display: flex;
	width: 95.5%;
	height: 140px;
	border: 1px solid #ddd;
	background: white;
	padding: 10px;
}

.contenedor-img{
	width: 23%;
}

.imagen{
	width: 100%;
	height: 55%;
}

.contenedor-contenido{
	display: flex;
	flex-direction: column;
}

.label-3{
	margin-left: 10px;
	color: royalblue;
}

.label-4{
	margin-left: 10px;
	color: #aaa;
	font-size: 15px;
}

.icono{
	margin-left: 10px;
	color: #aaa;
}

.icono-2{
	margin-left: 0px;
	color: #aaa;
}

.contenedor-requisitos-padre{
	display: grid;
	grid-template-columns: auto auto;
	margin-top: 10px;
}
.label-5{
	font-size: 15px;
	color: black;
	margin-left: 10px;
}

.contenedor-div-derecho-padre{
	width: 50%;
	height: auto;
}
.contenedor-div-derecho{
	overflow-y: scroll;
	max-height: 60.2%;
	display: flex;
	flex-direction: column;
	border: solid 1px #ddd;
	width: 100%;
	height: 100%;
	background: white;
	padding: 20px;
}

.label-6{
	font-size: 23px;
}

.label-7{
	margin-top: 15px;
	color: lightblack;
}

.label-8{
	margin-top: 10px;
	font-size: 15px;
	color: #aaa;
}

.solicitudes{
	display: flex;
}

.label-solicitudes{
	margin-top: 5px;
	margin-left: 160px;
	color: green;
	font-size: 15px;
}

.label-9{
	font-size: 18px;
	margin-top: 15px;
	color: green;
}

.label-10{
	font-size: 15px;
	margin-top: 10px;
}

.contenedor-button{
	display: flex;
}

.button{
	border: none;
    width: 30%;
    color: white;
    font-size: 15px;
    background: royalblue;
    padding: 15px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
    margin-top: 17px;
    margin-left: 0%;
}

.button.second{
	border: none;
    width: 30%;
    color: white;
    font-size: 17px;
    background: #BFC1C9;
    padding: 15px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
    margin-top: 15px;
    margin-left: 14px;
}

.button input:hover{
	background-color: black;
    transition: all 0.2s ease-out;
}
