:root {
    --blanco: #fffbfc; 
    --oscuro: #000000;
    --yellow: #F4D03F;
    --light_g: #9df07b;
    --green:  #5bde00;
    --light_b: #70c1d9;
    --blue: #0c79cf;
    --secundario: ##FFFFFF;
    --gris: #191c1d; 
    --grisClaro: #47433F;   
    --gris2: #a09c9c;
    
    
             

}
/*Globlaes -- Definición*/ 
html {
    font-size: 62.5%;
    box-sizing: border-box;     /* Hack para Box Model*/
    scroll-snap-type: y mandatory;
}
*, *:before, *:after {      /* El * quiere decir que seleccionamos todos los elementos de html* -  La , significa que vaya a aplicar las propiedades a 2 o más clases a la misma vez*/ 
    box-sizing: inherit;    /*Soluciona para que no uses el weight y padding*/
  } 
  body {
    font-size: 16px; /* 1rem= 10px */
    font-family: 'Krub', sans-serif;
    /* background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%); permite cambiar color del fondo */
    background-color: var(--blanco);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
    
}
@media (min-width: 768px) {
    .boton {
        width: auto;
    } 
    #ctn-bars-search{
        width: 100%;
    }
}
.boton:hover {
    cursor: pointer; 
}

.sombra {
    
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/* Tipografía*/
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;
}

a{
    color: var(--blanco);
}

/* Titulos*/
.titulo span {
    font-size: 2rem;
}

/*Utilidades*/
.w-sm-100 {
    width: 100%;
}
.flex {
    display: flex;
}
.alinear-derecha {
    justify-content: flex-end;
}

/* .logo img{} */



.contenedor {
    max-width: 171rem; /* Toma 1200px como maximo y solamente si hay ese espacio disponible sino toma el 100% que es el ancho por default - Cualquier div toma el 100% */
    margin: 0 auto; /*Indica los margenes de los elementos */
    
    
}

/* Logo */

.logo img {
    width: 80px;
    height: 58px;
    position: absolute;
    margin-top: -0.5rem;
    margin-left: 1rem;
}

/* Barra de busqueda */
#int-search{
    width: 25rem;
    height: 40px;
    font-size: 20px;
    text-indent: 10px;
    border: 1px solid silver;
    border-radius: 30px;
    margin-top: 0.5rem;
    z-index: 1;
    
}
#icon-search{
    font-size: 2.3rem;
    margin-top: 1.6rem;
    margin-right: -4rem;
    z-index: 2;
}


.content-search{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    background: #F3F2EF ;
}

.content-table{
    width: 25%;
    top: 100px;
    max-height: 200px;
    height: auto;
    background: var(--secundario);
    margin-left: 10px;
    overflow-y: visible;
    overflow-x:hidden;

}

.content-table table{
    width: 100%;
}

tbody tr td a{
    display: block;
    padding: 10px;
    color: var(--blanco);
    text-decoration: none;
}
tbody tr td a:hover{
    background: var(--grisClaro);
}

/* Navegación principal*/

.nav-bg {
    background-color: var(--secundario);
    position: relative;
    z-index: 9;
}

.navegacion-principal,
.navegacion2 {
    display: flex; /* Nos habilita nuevas propiedades*/ 
    flex-direction: column; /* Permite observar los enlaces en columnas*/ 
    justify-content: center; /* Te permite desplazar la navegación de forma horizontal*/ 

}
.navegacion-principal{
    margin-right: 35px;
}
  
@media (min-width: 768px) {                 
    .navegacion-principal { 
        flex-direction: row; /* Se reinicia al que es su default, entonces display flex; y justify-content: space-between; ya lo va a tener*/
        
    }
}


.navegacion-principal a {
    text-align: center;     /*Centra los enlaces*/
    color: var(--oscuro);
   text-decoration: none;
   font-size: 1.6rem;
   font-weight: 400;
   padding: 2rem;
   
}

nav ul i{
    color: var(--oscuro);
}

nav ul a span p{
    font-family: sans-serif;
    text-align: center;     /*Centra los enlaces*/
    color: var(--oscuro);
    margin-top: 0.8rem;
    font-size: 1.6rem;
    font-weight: 400;
}




/**-----------**/
.barra{
    border: 1px solid #302f2f;
    background:#302f2f;
    height: 50px;
    width: 100%;
}
.cuadrado-1{
    margin-top:10px;
    border: 1px solid black;
    border-radius: 10px;
    background: #302f2f;
    height: 500px;
    width: 250px;
}



.cuadrado-2{
    display: grid;
    margin-top:10px;
    border: 1px solid black;
    border-radius: 10px;
    background: #302f2f;
    height: 500px;
    width: 250px;
}

.cuadrado-3{
    margin-top:10px;
    border: 1px solid black;
    border-radius: 10px;
    background: #302f2f;
    height: 500px;
    width: 250px;
}

.label-1{
    
}